<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員資料</title>
</head>
<body>
    <h1>會員資料</h1>
    <div>
        <h2><%= name %></h2>
        <img src="<%= profilePic %>" alt="會員照片">
        <p>Email: <%= data.email %></p>
        <p>出生年月日: <%= data.dob %></p>
        <p>手機號碼: <%= data.phone %></p>
        <p>性別: <%= data.gender %></p>
        <p>工作年資: <%= data.experience %></p>
        <p>縣市區域: <%= data.location.join(', ') %></p>
        <p>擁有的證照: <%= data.certifications.join(', ') %></p>
        <p>擅長語言: <%= data.languages.join(', ') %></p>
    </div>
</body>
</html>